body {
    background-color: rgb(33, 31, 31);
    color: #d4daf2;
    display:flex;
    justify-content: center;
    /* padding:0; */
    /* margin:0; */
}

.container {
    /* width:50%; */
    /* min-width:2 00px;    */
    /* margin:0; */
    /* padding:0; */
}